/* Body */

body {
  background: #fff;
  color: #666666;
  font-family: "Philosopher", sans-serif;
}

a {
  color: #18d26e;
  transition: 0.5s;
}

a:hover,
a:active,
a:focus {
  color: #18d36e;
  outline: none;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Philosopher", sans-serif;
  font-weight: 300;
  
}


/* Header */

#header {
  padding: 0.4rem 0;
  height: 4vh;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 996;
  background: rgba(0, 0, 0, 0.9);
}

#header #logo {
  float: left;
}

#header #logo h1 {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: "Philosopher", sans-serif;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

#header #logo h1 a {
  color: #fff;
  border-left: 6px solid #18d26e;
  padding-left: 0.8rem;
}

#header #logo h1 a:hover {
  color: #ccc;
  padding-left: 10px;
  border-left: 6px solid #18d26e;
}


#header #logo img {
  padding: 0;
  margin: 0;
}


/* Intro Section */

#intro {
  margin-top: 4vh;
  display: table;
  width: 100%;
  max-height: 92vh;
  background: #000;
}

#intro .carousel-item {
  width: 100%;
  height: 92vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#intro .carousel-item::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#intro .carousel-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#intro .carousel-background img {
  max-width: 100%;
}

#intro .carousel-content {
  text-align: center;
  padding-top: 27rem;
}

#intro h2 {
  color: #fff;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 700;
}

#intro p {
  width: 80%;
  margin: 0 auto 9px auto;
  color: #fff;
}

#intro .carousel-fade {
  overflow: hidden;
}

#intro .carousel-fade .carousel-inner .carousel-item {
  transition-property: opacity;
}

#intro .carousel-fade .carousel-inner .carousel-item,
#intro .carousel-fade .carousel-inner .active.carousel-item-left,
#intro .carousel-fade .carousel-inner .active.carousel-item-right {
  opacity: 0;
}

#intro .carousel-fade .carousel-inner .active,
#intro .carousel-fade .carousel-inner .carousel-item-next.carousel-item-left,
#intro .carousel-fade .carousel-inner .carousel-item-prev.carousel-item-right {
  opacity: 1;
  transition: 0.5s;
}

#intro .carousel-fade .carousel-inner .carousel-item-next,
#intro .carousel-fade .carousel-inner .carousel-item-prev,
#intro .carousel-fade .carousel-inner .active.carousel-item-left,
#intro .carousel-fade .carousel-inner .active.carousel-item-right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#intro .carousel-control-prev,
#intro .carousel-control-next {
  width: 10%;
}

#intro .carousel-control-next-icon,
#intro .carousel-control-prev-icon {
  background: none;
  font-size: 1rem;
  line-height: 1;
}

#intro .carousel-indicators li {
  cursor: pointer;
}

#intro .carousel-indicators ol {
 margin-bottom: 2rem!important; }
}

#intro .btn-get-started {
  font-family: "Philosopher", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  display: inline-block;
  padding: 8px 32px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  color: #fff;
  background: #18d26e;
}

#intro .btn-get-started:hover {
  background: #fff;
  color: #18d26e;
}


/* Nav Menu Essentials */

.nav-menu,
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}


/* Nav Menu Arrows */

.sf-arrows .sf-with-ul {
  padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 15px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}


/* Nav Menu Container */

#nav-menu-container {
  float: right;
  margin: 0;
}


/* Nav Menu Styling */

.nav-menu a {
  padding: 0 0.2rem 0.4rem 0.2rem;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-family: "Philosopher", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  outline: none;
}

.nav-menu li:hover > a,
.nav-menu > .menu-active > a {
  color: #18d26e;
}

.nav-menu > li {
  margin-left: 10px;
}

.nav-menu ul {
  margin: 4px 0 0 0;
  padding: 10px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #fff;
}

.nav-menu ul li {
  transition: 0.3s;
}

.nav-menu ul li a {
  padding: 10px;
  color: #333;
  transition: 0.3s;
  display: block;
  font-size: 1rem;
  text-transform: none;
}

.nav-menu ul li:hover > a {
  color: #18d26e;
}

.nav-menu ul ul {
  margin: 0;
}


/* Mobile Nav Toggle */

#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 0.4rem 0.4rem 0.4rem 0.4rem;
  border: 0;
  background: none;
  font-size: 1rem;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}

#mobile-nav-toggle i {
  color: #fff;
}


/* Mobile Nav Styling */

#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(0, 0, 0, 0.8);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
  font-weight: 700;
  font-family: "Philosopher", sans-serif;
}

#mobile-nav ul li a:hover {
  color: #18d26e;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul li.menu-active a {
  color: #18d26e;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #18d26e;
}

#mobile-nav ul .menu-has-children li a {
  text-transform: none;
}

#mobile-nav ul .menu-item-active {
  color: #18d26e;
}

#mobile-body-overly {
  width: 100%;
  height: 100vh;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  display: none;
}


/* Mobile Nav body classes */

body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}


/* Sections Header*/

.section-header h3 {
  font-size: 1rem;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  position: relative;
  padding-bottom: 9px;
  padding-top: 17px;
}
  
.section-header h3:hover {
  color: #18d26e;
}

.section-header h3::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-header h3::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #18d26e;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-header p {
  text-align: center;
  padding-bottom: 9px;
  color: #333;
}

/* Section with background */

.section-bg {
  background: #f7f7f7;
}


/* About me section */

#about {
  background: url("../img/bg/about-bg.jpg") center top no-repeat fixed;
  background-size: cover;
  padding: 2rem 2rem 2rem 2rem;
  position: relative;
}

#about::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.78); /* less than 0.78 -> more visible bg */
  z-index: 9;
}

#about .container {
  position: relative;
  z-index: 10;
}

#about .about-col {
  background: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  margin-bottom: 1rem;
}

#about .about-col .img {
  position: relative;
}

#about .about-col .img img {
  border-radius: 4px 4px 0 0;
}

#about .about-col .icon {
  width: 64px;
  height: 64px;
  padding-top: 8px;
  text-align: center;
  position: absolute;
  background-color: #18d26e;
  border-radius: 50%;
  text-align: center;
  border: 4px solid #fff;
  left: calc( 50% - 32px);
  bottom: -30px;
  transition: 0.3s;
}

#about .about-col i {
  font-size: 1rem;
  line-height: 1;
  color: #fff;
  transition: 0.3s;
}

#about .about-col:hover .icon {
  background-color: #fff;
}

#about .about-col:hover i {
  color: #18d26e;
}

#about .about-col h2 {
  color: #000;
  text-align: center;
  font-weight: 700;
  font-size: 1rem;
  padding: 0;
  margin: 10px 0 12px 0;
}

#about .about-col h2 a {
  color: #000;
}

#about .about-col h2 a:hover {
  color: #18d26e;
}

#about .about-col p {
  font-size: 1rem;
  line-height: 24px;
  color: #333;
  margin-bottom: 0;
  padding: 0 20px 20px 20px;
}


/* Facts Section */

#facts {
  background: url("../img/bg/facts-bg.jpg") center top no-repeat fixed;
  background-size: cover;
  padding: 2rem 1rem 2rem 1rem;
  position: relative;
}

#facts::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.88);
  z-index: 9;
}

#facts .container {
  position: relative;
  z-index: 10;
}

#facts .facts-col {
  background: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  margin-bottom: 1rem;
}

#facts .counters span {
  font-family: "Philosopher", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  display: block;
  color: #18d26e;
}

#facts .counters p {
  padding: 0;
  margin: 0 0 20px 0;
  font-family: "Philosopher", sans-serif;
  font-size: 1rem;
  color: #111;
}

#facts .facts-img {
  text-align: center;
  padding-top: 30px;
}


/* Blog section */

#blog {
  background: url("../img/bg/blog-bg.jpg") center top no-repeat fixed;
  background-size: cover;
  padding: 2rem 1rem 2rem 1rem;
  position: relative;
}

#blog::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.92);
  z-index: 9;
}

#blog .container {
  position: relative;
  z-index: 10;
}

#blog .blog-col {
  background: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  margin-bottom: 1rem;
  width: 600px;
  max-width: 600px;
  text-align: float-right;
}

#blog .blog-col .img {
  position: relative;
}

#blog .blog-col .img img {
  border-radius: 4px 4px 0 0;
}

#blog .blog-col .icon {
  width: 64px;
  height: 64px;
  padding-top: 8px;
  text-align: center;
  position: absolute;
  background-color: #18d26e;
  border-radius: 50%;
  text-align: center;
  border: 4px solid #fff;
  left: calc( 50% - 32px);
  bottom: -30px;
  transition: 0.3s;
}

#blog .blog-col i {
  font-size: 1rem;
  line-height: 1;
  color: #fff;
  transition: 0.3s;
}

#blog .blog-col:hover .icon {
  background-color: #fff;
}

#blog .blog-col:hover i {
  color: #18d26e;
}

#blog .blog-col h2 {
  color: #000;
  text-align: center;
  font-weight: 700;
  font-size: 1rem;
  padding: 0;
  margin: 10px 0 12px 0;
}

#blog .blog-col h2 a {
  color: #000;
}

#blog .blog-col h2 a:hover {
  color: #18d26e;
}

#blog .blog-col p {
  font-size: 1rem;
  line-height: 24px;
  color: #333;
  margin-bottom: 1rem;
  padding: 0 20px 20px 20px;
}


/* sidebar */

/*Card-noborders*/
.card-no-border .card {
  border-color: #d7dfe3;
  border-radius: 4px;
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
}

/*little-profile*/
.little-profile .pro-img {
  margin-top: -80px;
  margin-bottom: 1rem;
}

  .little-profile .pro-img img {
    width: 128px;
    height: 128px;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 100%;]
}

.contact-box {
  position: relative; }
  .contact-box .add-ct-btn {
    position: absolute;
    right: 4px;
    top: -46px; }
  .contact-box .contact-widget > a {
    padding: 15px 10px; }
    .contact-box .contact-widget > a .user-img {
      margin-bottom: 0px !important; }

/*
  
  


#blog .sidebar-widget {
  border-radius: 0 0 0 0;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  margin-bottom: 20px;
  width: 260px;
  max-width: 260px;
 }

#articles .sidebar-widget {
  border-radius: 0 0 0 0;
  margin-bottom: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 3px;
  padding-right: 3px;
  width: 280px;
  max-width: 280px;
 }
 
 #articles .sidebar-widget i {
  font-size: 36px;
  color: #18d26e;
  padding-top: 9px;
  margin-bottom: 9 px;
  transition: 0.3s;
}

#articles .sidebar-widget media {
  padding-top: 9px;
  margin-bottom: 9 px;
  left: calc( 50% - 32px);

}
#articles .sidebar-widget:hover i {
  color: #fff;
}

#articles .sidebar-widget h5 {
  color: #000;
  font-weight: 600;
  font-size: 17px;
  padding: 1rem 1rem 1rem 1rem;
  margin: 1rem 1rem 1rem 1rem;
}

#articles .sidebar-widget p {
  font-size: 14px;
  line-height: 24px;
  color: #333;
  margin-bottom: 0;
  padding: 0 20px 20px 20px;
}

#blog .sidebar-widget .icon {
  width: 64px;
  height: 64px;
  padding-top: 8px;
  text-align: center;
  position: absolute;
  background-color: #18d26e;
  border-radius: 50%;
  text-align: center;
  border: 4px solid #fff;
  left: calc( 50% - 32px);
  bottom: -30px;
  transition: 0.3s;
}



#blog .blog-col:hover .icon {
  background-color: #fff;
}

#blog .blog-col:hover i {
  color: #18d26e;
}

#blog .blog-col h2 {
  color: #000;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  padding: 0;
  margin: 10px 0 12px 0;
}

#blog .blog-col h2 a {
  color: #000;
}

#blog .blog-col h2 a:hover {
  color: #18d26e;
}

#blog .blog-col p {
  font-size: 14px;
  line-height: 24px;
  color: #333;
  margin-bottom: 0;
  padding: 0 20px 20px 20px;
}


/* Articles section */

#articles {
  background: url("../img/bg/articles-bg.jpg") center top no-repeat fixed;
  background-size: cover;
  padding: 2rem 1rem 2rem 1rem;
  position: relative;
}

#articles::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.92);
  z-index: 9;
}

#articles .container {
  position: relative;
  z-index: 10;
}

#articles .articles-col {
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  margin-bottom: 1rem;
}

#articles .articles-col .img {
  position: relative;
}

#articles .articles-col .img img {
  border-radius: 4px 4px 0 0;
}

#articles .articles-col .icon {
  width: 64px;
  height: 64px;
  padding-top: 8px;
  text-align: center;
  position: absolute;
  background-color: #18d26e;
  border-radius: 50%;
  text-align: center;
  border: 4px solid #fff;
  left: calc( 50% - 32px);
  bottom: -30px;
  transition: 0.3s;
}

#articles .articles-col i {
  font-size: 1rem;
  line-height: 1;
  color: #fff;
  transition: 0.3s;
}

#articles .articles-col:hover .icon {
  background-color: #fff;
}

#articles .articles-col:hover i {
  color: #18d26e;
}

#articles .article-col button[type="submit"] {
  background: #18d26e;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  cursor: pointer;
}

#articles .article-col button[type="submit"]:hover {
  background: #13a456;
}

#articles .articles-col h2 {
  color: #000;
  text-align: center;
  font-weight: 700;
  font-size: 1rem;
  padding: 0;
  margin: 10px 0 12px 0;
}

#articles .articles-col h2 a {
  color: #000;
}

#articles .articles-col h2 a:hover {
  color: #18d26e;
}

#articles .articles-col p {
  font-size: 1rem;
  line-height: 24px;
  color: #333;
  margin-bottom: 1rem;
  padding: 0 20px 20px 20px;
}


/* Article Section (for single page)*/

#article {
  background: url("../img/bg/article-bg.jpg") center top no-repeat fixed;
  background-size: cover;
  padding: 2rem 1rem 2rem 1rem;
  position: relative;
}

#article::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.92);
  z-index: 9;
}

#article .container {
  position: relative;
  z-index: 10;
}

#article .article-col {
  background: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  margin-bottom: 1rem;
}

#article .article-col .img {
  position: relative;
}

#article .article-col .img img {
  border-radius: 4px 4px 0 0;
}

#article .articles-col .icon {
  width: 64px;
  height: 64px;
  padding-top: 8px;
  text-align: center;
  position: absolute;
  background-color: #18d26e;
  border-radius: 50%;
  text-align: center;
  border: 4px solid #fff;
  left: calc( 50% - 32px);
  bottom: -30px;
  transition: 0.3s;
}

#article .article-col i {
  font-size: 1rem;
  line-height: 1;
  color: #fff;
  transition: 0.3s;
}

#article .article-col:hover .icon {
  background-color: #fff;
}

#article .article-col:hover i {
  color: #18d26e;
}

#article .article-col h2 {
  color: #000;
  text-align: center;
  font-weight: 700;
  font-size: 1rem;
  padding: 0;
  margin: 10px 0 12px 0;
}

#article .article-col h2 a {
  color: #000;
}

#article .article-col h2 a:hover {
  color: #18d26e;
}

#article .article-col p {
  font-size: 1rem;
  line-height: 24px;
  color: #333;
  margin-bottom: 1rem;
  padding: 0 20px 20px 20px;
}


/* Contact Section */

#contact {
  background: url("../img/bg/contact-bg.jpg") center top no-repeat fixed;
  background-size: cover;
  padding: 2rem 1rem 2rem 1rem;
  position: relative;
}

#contact::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.92);
  z-index: 9;
}

#contact .container {
  position: relative;
  z-index: 10;
}
  
#contact .contact-info {
  margin-bottom: 1rem;
  text-align: center;
}

#contact .contact-info i {
  font-size: 1rem;
  display: inline-block;
  margin-bottom: 1rem;
  color: #18d26e;
}

#contact .contact-info address,
#contact .contact-info p {
  margin-bottom: 1rem;
  color: #000;
}

#contact .contact-info h3 {
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #999;
}

#contact .contact-info a {
  color: #000;
}

#contact .contact-info a:hover {
  color: #18d26e;
}

#contact .contact-address,
#contact .contact-phone,
#contact .contact-email {
 margin-bottom: 1rem;
}

#contact .form #sendmessage {
  color: #18d26e;
  border: 1px solid #18d26e;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 1rem;
}

#contact .form #errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 1rem;
}

#contact .form #sendmessage.show,
#contact .form #errormessage.show,
#contact .form .show {
  display: block;
}

#contact .form .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 1rem;
}

#contact .form input,
#contact .form textarea {
  padding: 10px 14px;
  border-radius: 0;
  box-shadow: none;
  font-size: 1rem;
}

#contact .form button[type="submit"] {
  background: #18d26e;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  cursor: pointer;
}

#contact .form button[type="submit"]:hover {
  background: #13a456;
}


/* Footer */

#footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 4vh;
  background: #000;
  padding: 0.1rem 0 0.1rem 0.1rem;
  color: #eee;
  font-size: 1rem;
  font-family: "Philosopher", sans-serif;
}

#footer .copyright {
  text-align: left;
  padding-left: 0.1rem;
}
#footer .copyright p:hover {
  background: #18d26e;
  color: #fff;
}

#footer .social-links ul {
display: inline;
}

#footer .social-links a {
  font-size: 1rem;
  display: inline-block;
  color: #eee;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 1rem;
  height: 1rem;
  transition: 0.3s;
}

#footer .social-links i:hover {
  background: #18d26e;
  color: #fff;
}



#page {
  background: url("../img/bg/about-bg.jpg") center top no-repeat fixed;
  background-size: cover;
  padding: 2rem 1rem 2rem 1rem;
  position: relative;
}

#page::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.92);
  z-index: 9;
}

#page .page col {
  position: relative;
  text-align: -webkit-center;
  margin: 1rem 1rem 1rem 1rem;
  
}


/* Back to top button */

.back-to-top {
  position: fixed;
  display: none;
  background: #18d26e;
  color: #fff;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 1rem;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 11;
}

.back-to-top i {
  padding-top: 12px;
  color: #fff;
}

  
/* Prelaoder */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2;
  border-top: 6px solid #18d26e;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


/* Responsive Media Queries */

@media (max-width: 575.98px) {

}

@media (max-width: 767.98px) {
 #header #logo {
    padding-left: 0.1rem;
	padding-top: 0.1rem;
  }
  
  #header #logo h1 {
    font-size: 1rem;
  }

  #nav-menu-container {
    padding-right: 0.1rem;
	padding-top: 0.1rem;
	display: none;
  }
  
  #nav-menu-container li {
	font-size: 1rem; 
  }

  #mobile-nav-toggle {
    display: inline;
  }
  
  #intro h2 {
    font-size: 0.7rem;
  }

  .back-to-top {
    bottom: 0.7rem;
  }


}

@media (max-width: 991.98px) {

}
@media (max-width: 1199.98px) {

}

