<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <title>{{ page.title }}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>
	<meta name="author" content="{{ site.author.name }}">    
    {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{% endif %}
    {% if page.canonical %}<link rel="canonical" href="{{ page.canonical }}"/>{% endif %}
    
    {% if page.excerpt %}
    <meta name="description" content="{{ page.excerpt| strip_html }}" />
    <meta property="og:description" content="{{ page.excerpt| strip_html }}" />
    {% else %}
    <meta name="description" content="{{ site.description }}">
    <meta property="og:description" content="{{ site.description }}" />
    {% endif %}
    <meta name="author" content="{{ site.name }}" />

    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="twitter:title" content="{{ page.title }}" />
    {% endif %}

    <!--Google Font link-->
        <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
 <!--Helium css-->
        <link rel="stylesheet" href="{{ BASE_PATH }}/vendor/css/animate.css">
        <link rel="stylesheet" href="{{ BASE_PATH }}/vendor/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ BASE_PATH }}/vendor/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ BASE_PATH }}/vendor/css/jasny-bootstrap.min.css">
        <link rel="stylesheet" href="{{ BASE_PATH }}/vendor/css/main.css">
        <link rel="stylesheet" href="{{ BASE_PATH }}/vendor/css/owl.carousel.css">
        <link rel="stylesheet" href="{{ BASE_PATH }}/vendor/css/owl.theme.css">
        <link rel="stylesheet" href="{{ BASE_PATH }}/vendor/css/responsive.css">
        <link rel="stylesheet" href="{{ BASE_PATH }}/vendor/css/scrolling-nav.css">	  

	<!-- CSS loaded by the children page -->
        {% if page.css %}<link rel="stylesheet" type="text/css" href="{{ BASE_PATH }}/vendor/css/custom/{{ page.css }}" />{% endif %}

    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{{ page.tagline }}">
    <meta property="og:image" content="{{ BASE_PATH }}/vendor/img/big/{{ page.img }}">
    <meta property="og:url" content="{{ BASE_PATH }}">
    <meta name="twitter:card" content="summary_large_image">

	<!--[if IE]>
		<script type="text/javascript">
			 var console = { log: function() {} };
		</script>
	<![endif]-->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">
    <!-- Google ADS mobile block-->
    {% if site.google_ad_client %}
    <script type="text/javascript" async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script type="text/javascript">
     (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "{{ site.google_ad_client }}",
        enable_page_level_ads: true
        });
    </script>
    {% endif %}
  </head>
  <body>
  <div class="wrapper">	  	  
      <!--Home page style--> 
      
	              <div class="top-menu">
              <p>
                <span class="left">
                  <a href="#"><i class="fa fa-map-marker"></i>New South Wales, Sydney</a>
                  <a href="#"><i class="fa fa-mobile-phone"></i>+9 34476 3244</a>
                  <a href="#"><i class="fa fa-envelope"></i>email@example.com</a>
              	</span>
                <span class="right hidden-sm-down">                          
                  {% if site.author.facebook %}<a href="https://www.facebook.com/{{ site.author.facebook }}/"><i class="fa fa-facebook"></i></a>{% endif %}
                  {% if site.author.twitter %}<a href="https://twitter.com/{{ site.author.twitter }}"><i class="fa fa-twitter"></i></a>{% endif %}
                  {% if site.author.linkedin %}<a href="https://www.linkedin.com/in/{{ site.author.linkedin }}/"><i class="fa fa-linkedin"></i></a>{% endif %}
                  {% if site.author.instagram %}<a href="https://www.instagram.com/{{ site.author.instagram }}/"><i class="fa fa-instagram"></i></a>{% endif %}                            
              	</span>
              </p>
            </div>

            <!-- navbar-default -->
            <nav class="navbar navbar-toggleable-sm navbar-light bg-default">
              <div class="container">
                <a class="navbar-brand" href="{{ BASE_PATH }}"><img src="{{ BASE_PATH }}/assets/images/logo.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1" aria-expanded="false" aria-label="Toggle navigation">
                  <i class="fa fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbar1">
                  <ul class="navbar-nav">
                    {% assign pages_list = site.pages %}
                    {% assign group = 'navigation' %}
                    {% include JB/pages_list %}
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown link</a>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>

	  
      {{ content }}
	  <br />

	  
	        <!-- Footer -->
      <footer class="default-footer text-center">
        <div class="container">
          <img class="mb-40 footer-logo" src="{{ BASE_PATH }}/assets/images/logo-2.png" alt="">
          <span class="copy-right dis-blk">Helium Jekyll - Bootstrap 4 UI Kit Crafted with <i class="fa fa-heart cyan-color"></i> by <a href="https://antoniotrento.github.io">Antonio Trento</a></span>
          <span class="social">
                  {% if site.author.facebook %}<a href="https://www.facebook.com/{{ site.author.facebook }}/"><i class="fa fa-2x fa-facebook"></i></a>{% endif %}
                  {% if site.author.twitter %}<a href="https://twitter.com/{{ site.author.twitter }}"><i class="fa fa-2x fa-twitter"></i></a>{% endif %}
                  {% if site.author.linkedin %}<a href="https://www.linkedin.com/in/{{ site.author.linkedin }}/"><i class="fa fa-2x fa-linkedin"></i></a>{% endif %}
                  {% if site.author.instagram %}<a href="https://www.instagram.com/{{ site.author.instagram }}/"><i class="fa fa-2x fa-instagram"></i></a>{% endif %}                            
              	
          </span>
        </div>
      </footer>

  </div>
  {% include JB/analytics %}
  {% if site.JB.comments.disqus.short_name == true %}
  <script id="dsq-count-scr" src="//{{ site.JB.comments.disqus.short_name }}.disqus.com/count.js" async></script>
  {% endif %}




        <!-- JS includes -->

        <script src="{{ BASE_PATH }}/vendor/js/jquery.min.js"></script>
        <script src="{{ BASE_PATH }}/vendor/js/jquery.nav.js"></script>
	<script src="{{ BASE_PATH }}/vendor/js/owl.carousel.min.js"></script>
        <script src="{{ BASE_PATH }}/vendor/js/form-validator.min.js"></script>	  
        <script src="{{ BASE_PATH }}/vendor/js/contact-form-script.js"></script>
        <script src="{{ BASE_PATH }}/vendor/js/jasny-bootstrap.min.js"></script>
        <script src="{{ BASE_PATH }}/vendor/js/jquery.mixitup.js"></script>	  
        <script src="{{ BASE_PATH }}/vendor/js/jquery.countTo.js"></script>
        <script src="{{ BASE_PATH }}/vendor/js/jquery.easing.min.js"></script>
        <script src="{{ BASE_PATH }}/vendor/js/main.js"></script>	
        <script src="{{ BASE_PATH }}/vendor/js/scrolling-nav.js"></script>
        <script src="{{ BASE_PATH }}/vendor/js/tether.min.js"></script>
        <script src="{{ BASE_PATH }}/vendor/js/bootstrap.min.js"></script>

	<!-- ********************* Grads SCRIPTING ******************************-->
	<!--Custom script loaded by children page-->
	{% if page.js %}<script src="{{ BASE_PATH }}/vendor/js/{{ page.js }}"></script>{% endif %}


	  
  </body>
</html>
