<footer id="footer">
	<nav class="navbar-fixed-bottom"> 
		<div class="container-fluid">
			<div class="row">	
				<div class="col-xs-6 col-md-6 text-left">
					<p><a href="#"> MytroArts</a> - &copy; 2017 <script>new Date().getFullYear()>2017&&document.write("- "+new Date().getFullYear());</script></p>
				</div>
				
				<div id="nav-menu-container">
					<ul class="nav-menu col-xs-6 col-md-6 text-right">
					<li>{% if site.footer-links.dribbble %}<a href="https://dribbble.com/{{ site.footer-links.dribbble }}"><i class="fab fa-dribbble-square fa-lg"></i></i></a>{% endif %}</li>
					<li>{% if site.footer-links.email %}<a href="mailto:{{ site.footer-links.email }}"><i class="fas fa-envelope fa-lg pl-1"></i></a>{% endif %}</li>
					<li>{% if site.footer-links.facebook %}<a href="https://www.facebook.com/{{ site.footer-links.facebook }}"><i class="fab fa-facebook-f fa-lg pl-1"></i></a>{% endif %}</li>
					<li>{% if site.footer-links.flickr %}<a href="https://www.flickr.com/{{ site.footer-links.flickr }}"><i class="fab fa-flickr fa-lg pl-1"></i></a>{% endif %}</li>
					<li>{% if site.footer-links.github %}<a href="https://github.com/{{ site.footer-links.github }}"><i class="fab fa-github fa-lg pl-1"></i></a>{% endif %}</li>
					<li>{% if site.footer-links.instagram %}<a href="https://instagram.com/{{ site.footer-links.instagram }}"><i class="fab fa-instagram fa-lg pl-1"></i></i></a>{% endif %}</li>
					<li>{% if site.footer-links.linkedin %}<a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}"><i class="fab fa-linkedin fa-lg pl-1"></i></a>{% endif %}</li>
					<li>{% if site.footer-links.pinterest %}<a href="https://www.pinterest.com/{{ site.footer-links.pinterest }}"><i class="fab fa-pinterest fa-lg pl-1"></i></a>{% endif %}</li>
					<li>{% if site.footer-links.rss %}<a href="{{ site.baseurl }}/feed.xml"><i class="fas fa-rss fa-lg pl-1"></i></a>{% endif %}</li>
					<li>{% if site.footer-links.twitter %}<a href="https://www.twitter.com/{{ site.footer-links.twitter }}"><i class="fab fa-twitter fa-lg pl-1"></i></a>{% endif %}</li>
					<li>{% if site.footer-links.stackoverflow %}<a href="http://stackoverflow.com/{{ site.footer-links.stackoverflow }}"><i class="fab fa-stack-overflow fa-lg pl-1"></i></a>{% endif %}</li>
					<li>{% if site.footer-links.youtube %}<a href="https://youtube.com/{{ site.footer-links.youtube }}"><i class="fab fa-youtube fa-lg pl-1"></i></a>{% endif %}</li>
					<li>{% if site.footer-links.googleplus %}<a href="https://scholar.google.com.ua/{{ site.footer-links.googleplus }}"><i class="fas fa-hat-wizard fa-lg pl-1"></i></a>{% endif %}</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>