---
layout: default
---

	<header id="header">
		<div class="container-fluid">
			<div id="logo" class="pull-left">
			<h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
			<p class="site-description">{{ site.description }}</p>
			<!-- Uncomment below if you prefer to use an image logo -->
			<!-- <a href="#intro"><img src="img/logo.png" alt="" title="" /></a>-->
			</div>
			
			<nav id="nav-menu-container">
			    <ul class="nav-menu">
					<li><a href="https://doianov.me/">Main</a></li>
					<li><a href="/about/">About Me</a></li>
					<li><a href="/facts/">Facts</a></li>
					<li><a href="/blog/">Blog</a></li>
					<li><a href="/articles/">Articles</a></li>
					<li><a href="/contacts/">Contacts</a></li>
				</ul>
				
			</nav>
		</div>
	</header>
	
<article class="post" style="margin-top:50px">
<div class="w-50 p-10 mx-auto">

  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html %}
</div>
</article>