---
layout: default
---

	<header id="header">
		<div class="container-fluid">
			<div id="logo" class="pull-left">
			<h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
			<p class="site-description">{{ site.description }}</p>
			<!-- Uncomment below if you prefer to use an image logo -->
			<!-- <a href="#intro"><img src="img/logo.png" alt="" title="" /></a>-->
			</div>
			
			<nav id="nav-menu-container">
			    <ul class="nav-menu">
					<li><a href="https://doianov.me/">Main</a></li>
					<li class="menu-active"><a href="/about/">About Me</a></li>
					<li><a href="/facts/">Facts</a></li>
					<li><a href="/blog/">Blog</a></li>
					<li><a href="/articles/">Articles</a></li>
					<li><a href="/contacts/">Contacts</a></li>
				</ul>
				
			</nav>
		</div>
	</header>
	
<article class="post ">
<div class="w-50 p-3 mx-auto">

  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html %}
</div>
</article>


<footer>
		<nav class="navbar-fixed-bottom"> 
			<div class="container">
				<div class="navbar-left">
					<p>&copy; 2017 <script>new Date().getFullYear()>2017&&document.write("- "+new Date().getFullYear());</script><a href="#"> MytroArts</a></p>
				</div>
			</div>
		</nav>
	</footer>
  
	<!--<span><a href="https://www.facebook.com/doianov"><i class="fa fa-facebook fa-lg"></i></a></span>  deleted  -->
